@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.Loader {
  height: 100vh;
  background: url('../../../assets/images/loading-page/space-adaptive.webp');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-animation: loading-in 1000ms linear forwards;

  animation: loading-in 1000ms linear forwards;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  @include crossBrowser(transform, translate(-50%, -50%));

  -webkit-animation: loading-in 1000ms linear forwards;

  animation: loading-in 1000ms linear forwards;
}

.loader {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f07e6e),
    color-stop(#84cdfa),
    to(#5ad1cd)
  );
  background: -o-linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  -webkit-animation: animate 1.2s linear infinite;
  animation: animate 1.2s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    @include crossBrowser(transform, rotate(0deg));
  }
  100% {
    @include crossBrowser(transform, rotate(360deg));
  }
}

@keyframes animate {
  0% {
    @include crossBrowser(transform, rotate(0deg));
  }
  100% {
    @include crossBrowser(transform, rotate(360deg));
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f07e6e),
    color-stop(#84cdfa),
    to(#5ad1cd)
  );
  background: -o-linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.loader span:nth-child(2) {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.loader span:nth-child(3) {
  -webkit-filter: blur(25px);
  filter: blur(25px);
}

.loader span:nth-child(4) {
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.loader:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: url('../../../assets/images/loading-page/red-circle-adaptive.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid #000 2px;
  border-radius: 50%;
}

@-webkit-keyframes loading-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
