@import '../../style/variables.scss';

.ProjectPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 100%;
  background-image: url('../../assets/project-page-bg-adaptive.webp');

  animation: animated-project-background 15s linear infinite;

  transition: all 0.7s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 102%;
  overflow-y: hidden;

  @media (max-width: 1350px) {
    animation: animated-project-background-adaptive 15s linear infinite;
  }
}
.ProjectPage-container {
  margin: 0 auto;

  width: 900px;
  height: 600px;

  border-radius: 25px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.6);
  animation: container-in 2s linear forwards;

  transition: all 0.7s ease;

  @media (max-width: $mediaLaptops) {
    width: 800px;
    height: 600px;
  }
  @media (max-width: $mediaSmallDesktops) {
    width: 700px;
    height: 500px;
  }
  @media (max-width: $mediaTablets) {
    width: 600px;
    height: 650px;
  }
  @media (max-width: $mediaSmallTablets) {
    width: 400px;
    height: 650px;
  }
  @media (max-width: $mediaPhones) {
    width: 300px;
    height: 550px;
  }
  @media (max-width: $mediaSmallPhones) {
    width: 250px;
    height: 550px;
  }
}

.LoadingProjectPage {
  height: 100%;
  width: 100%;
  background-color: #000;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    color: rgb(124, 49, 173);
    font-size: 18px;
  }
}

@keyframes animated-project-background {
  0% {
    background-size: 102%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 102%;
  }
}

@keyframes animated-project-background-adaptive {
  0% {
    background-size: auto 102%;
  }
  50% {
    background-size: auto 120%;
  }
  100% {
    background-size: auto 102%;
  }
}

@keyframes container-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
