@import '../../../../style/mixins.scss';

.WeatherFavorList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 90%;

  &__title {
    margin-top: 33px;
    padding: 0px 0px 7px 18px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 27px;
    color: rgb(165, 105, 171);
    text-shadow: 3px 3px 3px rgb(155 22 138 / 50%);
  }
  &__cities {
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
    padding: 10px 20px;
    margin: 20px 10px 10px -5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &:before {
    content: '';
    background: rgb(165, 105, 171);
    height: 2px;
    width: 100%;
    position: absolute;
    top: 14%;
    left: 4%;
    -webkit-animation: favorList-lineFirst-in 5s linear forwards;
    animation: favorList-lineFirst-in 5s linear forwards;
  }
  &:after {
    content: '';
    background: rgb(165, 105, 171);
    width: 2px;

    position: absolute;
    top: 14%;
    right: 0%;
    -webkit-animation: favorList-lineSecond-in 7s linear forwards;
    animation: favorList-lineSecond-in 7s linear forwards;
  }
}

@-webkit-keyframes favorList-lineFirst-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-100%));
  }
  75% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-100%));
  }

  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0%));
  }
}

@keyframes favorList-lineFirst-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-100%));
  }
  75% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-100%));
  }

  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0%));
  }
}
@-webkit-keyframes favorList-lineSecond-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-100%));
  }
  75% {
    opacity: 0;
    @include crossBrowser(transform, translateY(0%));
    height: 0%;
  }

  100% {
    opacity: 1;
    @include crossBrowser(transform, translateY(0%));
    height: 86%;
  }
}
@keyframes favorList-lineSecond-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-100%));
  }
  75% {
    opacity: 0;
    @include crossBrowser(transform, translateY(0%));
    height: 0%;
  }

  100% {
    opacity: 1;
    @include crossBrowser(transform, translateY(0%));
    height: 86%;
  }
}

.WeatherFavorListItem-empty {
  list-style-type: none;
  &__text {
    font-size: 25px;
    color: rgb(165, 105, 171);
    text-shadow: 3px 3px 3px rgb(155 22 138 / 80%);
  }
}

.favorItem-transition-enter-active {
  -webkit-animation: favorItem-in 1500ms forwards;
  animation: favorItem-in 1500ms forwards;
}

.favorItem-transition-exit-active {
  -webkit-animation: favorItem-out 1500ms forwards;
  animation: favorItem-out 1500ms forwards;
}

@-webkit-keyframes favorItem-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-150%));
  }
  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0%));
  }
}

@keyframes favorItem-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-150%));
  }
  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0%));
  }
}
@-webkit-keyframes favorItem-out {
  0% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0%));
  }
  100% {
    opacity: 0;
    @include crossBrowser(transform, translateX(150%));
  }
}
@keyframes favorItem-out {
  0% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0%));
  }
  100% {
    opacity: 0;
    @include crossBrowser(transform, translateX(150%));
  }
}
