@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.DefaultProjectsPage {
  background-image: url('../../../assets/gifs/project-page3-adaptive.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 25px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px 20px;

  position: relative;

  @include crossBrowser(transition, all 0.7s ease);

  @media (max-width: $mediaLaptops) {
    padding: 80px 20px;
  }
}

.DefaultProjectsPage--adaptive {
  display: none;

  color: #fff;
  font-size: 20px;
  word-wrap: break-word;
  width: 430px;
  line-height: 1.1;

  border-radius: 20px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(124, 49, 173);
  -webkit-animation: pulse-btn 3000ms linear infinite;
  animation: pulse-btn 3000ms linear infinite;
  @include crossBrowser(transition, all 0.5s ease);

  h2 {
    margin-top: 30px;
  }
  h3 {
    margin-top: 30px;
  }
  p {
    margin-top: 30px;
  }
  div {
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  // TODO ADAPTIVE
  @media (max-width: $mediaSmallDesktops) {
    display: block;
  }
  @media (max-width: $mediaTablets) {
    width: 245px;
    font-size: 18px;
  }
}

.DefaultProjects-title-container {
  display: inline-block;

  .DefaultProjects-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &__item {
      font-size: 60px;
      text-transform: uppercase;
      font-weight: 700;
      color: #191919;
      text-shadow: 0px 1px 0 rgb(144, 15, 230), 0px -1px 0 rgb(144, 15, 230),
        1px 0px 0 rgb(144, 15, 230), -1px 0px 0 rgb(144, 15, 230),
        1px 1px 0 rgb(144, 15, 230), 1px -1px 0 rgb(144, 15, 230),
        -1px 1px 0 rgb(144, 15, 230), -1px -1px 0 rgb(144, 15, 230);

      cursor: pointer;

      @include crossBrowser(transition, all 0.7s ease);

      &:hover {
        color: #ffffff;
        @include crossBrowser(transform, translateY(-7px) translateX(-7px));
        text-shadow: 6px 6px 0 rgb(144, 15, 230), 0px -1px 0 rgb(144, 15, 230),
          1px 0px 0 rgb(144, 15, 230), -1px 0px 0 rgb(144, 15, 230),
          1px 1px 0 rgb(144, 15, 230), 1px -1px 0 rgb(144, 15, 230),
          -1px 1px 0 rgb(144, 15, 230), -1px -1px 0 rgb(144, 15, 230);
      }
    }
    .DefaultProjects-item-hidden {
      text-shadow: none;
      color: transparent;
    }
  }
  // TODO ADAPTIVE
  @media (max-width: $mediaSmallDesktops) {
    display: none;
  }
}

.DefaultProjects-content {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;

  // TODO ADAPTIVE
  @media (max-width: $mediaSmallDesktops) {
    display: none;
  }
}

.DefaultProjectsPage-home {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;

  &__btn {
    border-radius: 20px;

    padding: 5px 10px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(124, 49, 173);

    -webkit-animation: pulse-btn 3000ms linear infinite;

    animation: pulse-btn 3000ms linear infinite;

    @include crossBrowser(transition, all 0.5s ease);

    &:hover {
      color: #fff;
    }

    @media (max-width: $mediaPhones) {
      font-size: 14px;
    }
  }
}

@-webkit-keyframes pulse-btn {
  0% {
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 0px rgb(124, 49, 173);
    box-shadow: 0px 0px 0px rgb(124, 49, 173);
  }
  50% {
    border: 1px solid rgb(124, 49, 173);
    -webkit-box-shadow: 0px 0px 20px rgb(124, 49, 173);
    box-shadow: 0px 0px 20px rgb(124, 49, 173);
  }
  100% {
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 0px rgb(124, 49, 173);
    box-shadow: 0px 0px 0px rgb(124, 49, 173);
  }
}

@keyframes pulse-btn {
  0% {
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 0px rgb(124, 49, 173);
    box-shadow: 0px 0px 0px rgb(124, 49, 173);
  }
  50% {
    border: 1px solid rgb(124, 49, 173);
    -webkit-box-shadow: 0px 0px 20px rgb(124, 49, 173);
    box-shadow: 0px 0px 20px rgb(124, 49, 173);
  }
  100% {
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 0px rgb(124, 49, 173);
    box-shadow: 0px 0px 0px rgb(124, 49, 173);
  }
}
