@import '../../style/variables.scss';

.ComicsList-cards-item {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 2px solid #000;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);

  //   background: url('https://ak.picdn.net/shutterstock/videos/15781780/thumb/9.jpg');
  //   background: url('https://kartinkin.net/uploads/posts/2021-04/1617290064_54-p-fon-komiks-59.jpg');
  background: url('./comic-item-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__link {
    outline: 1px solid transparent;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    &:focus {
      outline: 2px solid rgb(148, 0, 0);
      border-radius: 30px;
      box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);
    }
  }

  &__img {
    width: 220px;
    height: 335px;
    border: 3px solid #000;
    border-radius: 30px;

    transition: all 0.5s ease;

    @media screen and (max-width: $mediaLarge) {
      width: 195px;
      height: 295px;
    }
    @media screen and (max-width: $mediaBig) {
      width: 165px;
      height: 255px;
    }
  }

  .ComicsList-cards-item-titles {
    margin-top: 30px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #4b4747;
    padding: 5px;
    border: 1px solid #000;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    height: 100px;

    &__title {
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      transition: all 0.5s ease;

      color: #000000;

      @media screen and (max-width: $mediaBig) {
        font-size: 11px;
      }
    }
    &__price {
      margin-top: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      transition: all 0.5s ease;

      color: rgba(0, 0, 0, 0.6);

      @media screen and (max-width: $mediaBig) {
        font-size: 12px;
      }
    }

    @media screen and (max-width: $mediaLarge) {
      width: 195px;
    }
    @media screen and (max-width: $mediaBig) {
      width: 165px;
    }
  }

  &:hover {
    .ComicsList-cards-item__img {
      transform: scale(1.04);
      border: 3px solid #9f0013;
    }

    transform: scale(1.04);
    filter: drop-shadow(0px 5px 20px #9f0013);
    color: #9f0013;
  }
  &:active {
    filter: drop-shadow(0px 5px 20px #000000);
    transition: all 0.1s ease;
  }

  &:hover .ComicsList-cards-item-titles__title {
    color: #ff011f;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.8);
  }
  &:hover .ComicsList-cards-item-titles__price {
    color: #ff011f;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.8);
  }

  @media screen and (max-width: $mediaMediumWell) {
    padding: 15px 15px;
  }
}
