@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.header {
  background: url('../../assets/images/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  border-bottom: 7px solid rgb(0, 0, 0);
  height: 425px;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  top: -200px;

  @media screen and (max-width: $mediaBig) {
    top: -180px;
  }
  @media screen and (max-width: $mediaMediumWell) {
    top: -150px;
  }
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;

  transition: all 0.5s ease;

  @media screen and (max-width: $mediaLarge) {
    max-width: 1050px;
  }
  @media screen and (max-width: $mediaBig) {
    max-width: 990px;
  }
  @media screen and (max-width: $mediaMediumWell) {
    max-width: 850px;
  }
}

.main {
  min-height: 100vh;
  padding: 0px 0px 50px 0px;
  background-color: #000000;
  background-image: url('https://www.transparenttextures.com/patterns/snow.png');
  position: relative;

  &__content {
    display: flex;
    position: relative;
    z-index: 10;
  }

  .decoration-vision {
    width: 41%;
    position: absolute;
    bottom: 10px;
    right: -270px;
    z-index: -1;

    animation: slide-wheel 4s linear infinite;
    animation-direction: alternate;

    @media screen and (max-width: $mediaExtraLarge) {
      width: 35%;
      right: -190px;
    }
    @media screen and (max-width: $mediaBig) {
      width: 33%;
      right: -16%;
    }
    @media screen and (max-width: $mediaMediumWell) {
      width: 30%;
      right: -16%;
    }
  }
  .decoration-falcon {
    width: 25%;
    position: absolute;
    top: 10%;
    left: 0;

    animation-duration: 3s;
    animation-name: slide-top;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @media screen and (max-width: $mediaBig) {
      width: 25%;
      left: 4%;
    }
    @media screen and (max-width: $mediaMediumWell) {
      width: 22%;
      left: 5%;
    }
  }
  .decoration-iron-Man {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;

    animation-duration: 6s;
    animation-name: slide-bottom;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @media screen and (max-width: $mediaBig) {
      width: 16%;
    }
    @media screen and (max-width: $mediaMediumWell) {
      animation-name: slide-bottom-adaptive;
    }
  }
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(-0.5rem);
  }
}

@keyframes slide-wheel {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(-7rem);
  }
}

@keyframes slide-top {
  from {
    top: 10px;
  }

  to {
    top: -150px;
  }
}

@keyframes slide-bottom {
  from {
    transform: translateY(-25rem) translateX(1rem);
  }

  to {
    transform: translateY(-6rem) translateX(-15rem);
  }
}
@keyframes slide-bottom-adaptive {
  from {
    transform: translateY(5rem) translateX(-10rem);
  }

  to {
    transform: translateY(-15rem) translateX(-5rem);
  }
}

.fade {
  position: absolute;
}

.fade-enter-active {
  animation: fade-in 1000ms forwards;
}
.fade-exit-active {
  animation: fade-out 1000ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-1150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(1150px);
  }
}

.page-enter {
  transform: translateX(-110%);
  transition: all 500ms;
}
.page-enter-active {
  transform: translateX(-110%);
  transition: all 500ms;
}
.page-enter-done {
  transform: translateX(0%);
  transition: all 500ms;
}

.page-exit {
  transition: 500ms;
  transform: scale(1);
}
.page-exit-active {
  transition: 500ms;
  transform: scale(0.1);
}
.page-exit-done {
  transform: scale(0.1);
  transform: translateX(-110%);
  transition: all 500ms;
}
