@import '../../../../style/variables.scss';
@import '../../../../style/mixins.scss';

.About {
  background: rgb(17, 8, 21);
  padding-top: 96px;
  padding-bottom: 300px;
  overflow: hidden;

  border-top: 3px solid #000;

  position: relative;

  @media (max-width: $mediaSmallTablets) {
    padding-bottom: 200px;
  }
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
  color: rgb(152, 123, 171);

  @include crossBrowser(transition, all 1s ease);

  @media (max-width: $mediaSmallTablets) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.about-img {
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;

  &__image {
    max-width: 150px;
    height: auto;
    border-radius: 25%;
    border: 1px solid rgb(152, 123, 171);

    @include crossBrowser(transition, all 1.1s ease);

    &:hover {
      @include crossBrowser(transform, scale(1.6) translateY(30px));
    }
    @media (max-width: $mediaLaptops) {
      &:hover {
        @include crossBrowser(transform, scale(1.3) translateY(30px));
      }
    }
    @media (max-width: $mediaSmallTablets) {
      &:hover {
        @include crossBrowser(transform, scale(1.5) translate(-25px, -30px));
      }
    }
    @media (max-width: $mediaPhones) {
      &:hover {
        @include crossBrowser(transform, scale(1.3) translate(-15px, -50px));
      }
    }
    @media (max-width: $mediaSmallPhones) {
      max-width: 125px;
      z-index: 100;
      &:hover {
        @include crossBrowser(transform, scale(1.5) translate(-18px, -23px));
      }
    }
  }

  @media (max-width: $mediaSmallTablets) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
.about-info {
  -webkit-box-flex: 75%;
  -ms-flex: 75%;
  flex: 75%;

  @media (max-width: $mediaSmallTablets) {
    margin: -45px 0 0 0;
  }
}
.about-me {
  margin-bottom: 20px;

  &__desk {
    @include crossBrowser(transition, all 1s ease);

    line-height: 30px;
    text-align: justify;
    color: rgb(152, 123, 171);

    @media (max-width: $mediaPhones) {
      font-size: 18px;
    }
  }

  @media (max-width: $mediaPhones) {
    margin-bottom: 40px;
  }
}

.about-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media (max-width: $mediaPhones) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.about-details-contacts {
  -webkit-box-flex: 45%;
  -ms-flex: 45%;
  flex: 45%;

  &__desk {
    .about-details-contacts-phone {
      color: rgb(123, 33, 184);
      @include crossBrowser(transition, all 0.7s ease);
      &:hover {
        color: #fff;
      }
    }
    .about-details-contacts-mail {
      color: rgb(123, 33, 184);
      @include crossBrowser(transition, all 0.7s ease);
      &:hover {
        color: #fff;
      }
    }
    @media (max-width: $mediaPhones) {
      font-size: 18px;
    }
  }
}
.about-details-download {
  -webkit-box-flex: 55%;
  -ms-flex: 55%;
  flex: 55%;

  margin-top: 70px;

  &__link {
    padding: 20px 30px;
    background-color: rgb(123, 33, 184);
    outline: 3px solid transparent;
    border-radius: 10px;
    font-weight: 700;

    text-decoration: none;
    color: #fff;

    @include crossBrowser(transition, all 0.7s ease);

    .about-details-download-icon {
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;

      @include crossBrowser(transition, all 0.7s ease);

      svg {
        @include crossBrowser(transition, all 0.7s ease);

        fill: #fff;
      }
    }

    &:hover {
      color: rgb(144, 15, 230);
      background-color: #fff;

      outline: 3px solid rgb(144, 15, 230);
      .about-details-download-icon {
        svg {
          fill: rgb(144, 15, 230);
        }
      }
    }

    @media (max-width: $mediaTablets) {
      padding: 10px 12px;
    }
    @media (max-width: $mediaSmallTablets) {
      padding: 20px 10px;
    }
    @media (max-width: $mediaPhones) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 10px 12px;
      font-size: 18px;
    }
  }
  @media (max-width: $mediaSmallTablets) {
    margin-top: 150px;
  }
  @media (max-width: $mediaPhones) {
    margin-top: 35px;
  }
}

.about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #fff;
  margin-bottom: 17px;

  &__item {
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    text-shadow: 4px 4px 3px rgb(124 49 173 / 90%);
    cursor: pointer;

    @include crossBrowser(transition, all 0.8s ease);

    &:hover {
      text-shadow: 4px 4px 3px rgba(124, 49, 173, 0.9);
      -webkit-animation: text-animate 0.6s;
      animation: text-animate 0.6s;
    }
    @media (max-width: $mediaSmallTablets) {
      font-size: 30px;
    }
    @media (max-width: $mediaSmallPhones) {
      font-size: 25px;
    }
  }
}
.about-title-item-hidden {
  color: transparent;
  text-shadow: none;
  &:hover {
    color: transparent;
    text-shadow: none;
  }
}

.about-border {
  fill: #9295f2;
  position: absolute;
  bottom: 0%;
}
