@import '../../../../style/mixins.scss';

.TodoList {
  border: 1px solid #000;
  margin-top: 20px;
  width: 100%;
  height: 200px;

  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  border: 2px solid rgb(255, 255, 255);
  border-right: 4px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow-y: scroll;
  overflow-x: hidden;

  .TodoList-list {
    padding: 5px;
    list-style: none;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
  }
}

.TodoList-item-empty {
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: rgb(17, 229, 24);
  border: 1px solid #000;
  margin-bottom: 5px;
  font-weight: 700;

  position: relative;

  @include crossBrowser(transition, all 0.5s ease);
  &__text {
    text-align: center;
    color: #000;
  }
}

.item-transition-enter-active {
  -webkit-animation: fade-in 1000ms forwards;
  animation: fade-in 1000ms forwards;
}

.item-transition-exit-active {
  -webkit-animation: fade-out 1000ms forwards;
  animation: fade-out 1000ms forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-150px));
  }
  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0px));
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-150px));
  }
  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0px));
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0px));
  }
  100% {
    opacity: 0;
    @include crossBrowser(transform, translateX(150px));
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0px));
  }
  100% {
    opacity: 0;
    @include crossBrowser(transform, translateX(150px));
  }
}
