.App {
  background: url('https://images.wallpaperscraft.ru/image/single/gorod_ulitsa_dvizhenie_136678_1920x1080.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
