@import '../../style/variables.scss';

.CharForm {
  padding: 30px 20px;
  color: #fff;

  &__title {
    text-transform: uppercase;
  }
}

.char-form {
  display: flex;
  margin-top: 40px;
  position: relative;

  &__input {
    width: 90%;
    margin-right: 10px;
    background-color: rgb(0, 0, 0);
    border: 1px solid $main-color;
    border-radius: 5px;
    padding: 0px 10px;
    color: $main-color;
  }
  &__error {
    position: absolute;
    top: -60%;
    left: 0;
  }
}

.CharForm-desk {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.CharForm-desk--error {
  color: $main-color;
  text-align: justify;
}

.found-char {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;

  &__desk {
    color: #03710e;
    font-size: 16px;
    margin-right: 10px;
  }
  &__desk--charName {
    color: #b0852d;
  }
  &__button {
    padding: 1.3em 4.5em;
  }
}
