@import '../../style/variables.scss';

.ComicsBanner {
  display: flex;
  position: relative;
  top: -245px;
  transition: all 0.5s ease;

  @media screen and (max-width: $mediaLarge) {
    top: -245px;
  }
  @media screen and (max-width: $mediaMediumWell) {
    top: -235px;
  }
}
.ComicsBanner-box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: rgb(35, 34, 34);

  background: url('./comicsBanner-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  border: 2px solid #000;
  border-radius: 15px;
  position: relative;
  padding: 30px 40px;
  transition: all 0.5s ease;

  .ComicsBanner-box-logo {
    position: relative;
    transition: all 0.5s ease;
    &__img {
      max-height: 175px;
      border-radius: 25px;
      border: 3px solid #000;
      box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      background: linear-gradient(
        90deg,
        #000000,
        #3b0000,
        #6b0000,
        #a50000,
        #ff0000
      );

      width: calc(100% + 4px);
      background-size: 400%;
      height: calc(100% + 4px);
      z-index: -1;
      border-radius: 25px;

      animation: round 15s linear infinite;
    }

    &:hover {
      transform: scale(1.1);
      filter: drop-shadow(10px 5px 15px #9f0013);
      color: #9f0013;
    }
  }

  &__logo-avengers {
    max-height: 175px;
    border-radius: 25px;
    border: 3px solid #000;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  .ComicsBanner-box-titles {
    margin-left: 50px;
    width: 100%;
    position: relative;

    &__title {
      margin-bottom: 50px;

      font-weight: 700;
      font-size: 36px;
      line-height: 26px;
      text-transform: uppercase;

      cursor: default;
      color: #9f0013;
      text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.8);

      &:last-child {
        margin-bottom: 0px;
      }
      &:hover {
        filter: drop-shadow(10px 5px 20px #9f0013);
      }

      @media screen and (max-width: $mediaMediumWell) {
        font-size: 26px;
      }
    }
  }

  @media screen and (max-width: $mediaLarge) {
    padding: 30px 30px 30px 35px;
  }
  @media screen and (max-width: $mediaMediumWell) {
    padding: 25px 25px 25px 30px;
    border-right: 2px solid #000;
  }
}

@keyframes round {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
