$main-color: #d8021b;
$secondary-color: #5c5c5c;

// media queries for this project
$mediaExtraLarge: 2000px;
$mediaLarge: 1800px;
$mediaBig: 1600px;
$mediaMediumWell: 1400px;
$mediaMiddle: 1200px;

$mediaMedium: 992px;
$mediaSmall: 768px;
$mediaExtraSmall: 576px;
$mediaMobile: 420px;
