@import '../../../../../../style/mixins.scss';

.WeatherNow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 100%;

  &__temp {
    text-align: left;
    padding: 20px 0px 0px 23px;
    font-size: 70px;
    line-height: 82px;
    color: rgb(165, 105, 171);
    text-shadow: 3px 3px 3px rgba(155, 22, 138, 0.5);

    -webkit-animation: now-elements-in 1s linear forwards;

    animation: now-elements-in 1s linear forwards;
  }
  &__image {
    background-image: url('http://openweathermap.org/img/wn/13n@4x.png');
    -webkit-filter: grayscale(100%) brightness(140%) sepia(50%)
      hue-rotate(-100deg) saturate(500%) contrast(1);
    filter: grayscale(100%) brightness(140%) sepia(50%) hue-rotate(-100deg)
      saturate(500%) contrast(1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 140px;
    height: 70px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 42%;
    @include crossBrowser(transform, translateX(-50%));
    -webkit-animation: now-image-in 2s linear forwards;
    animation: now-image-in 2s linear forwards;
  }
}
.WeatherNow-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 26px 10px 12px;
  position: relative;

  &__text {
    color: rgb(165, 105, 171);
    text-shadow: 3px 3px 3px rgba(155, 22, 138, 0.5);
    font-weight: 700;
    font-size: 19px;
    -webkit-animation: now-elements-in 2.5s linear forwards;
    animation: now-elements-in 2.5s linear forwards;
  }

  &__like {
    background-image: url('../../../../../../assets/icons/weather/like.svg');
    background-repeat: no-repeat;
    background-position: center 1;
    background-size: cover;
    width: 24px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    -webkit-animation: now-like-in 2.5s linear forwards;
    animation: now-like-in 2.5s linear forwards;

    &:hover {
      background-image: url('../../../../../../assets/icons/weather/like-hover.svg');
      @include crossBrowser(transition, all 0.3s ease);
    }
    &:active {
      background-image: url('../../../../../../assets/icons/weather/like-active.svg');
      @include crossBrowser(transition, all 0.2s ease);
    }
  }
}

.WeatherNow-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  @include crossBrowser(transform, translate(-50%, -50%));

  -webkit-animation: now-empty-in 1.5s linear forwards;

  animation: now-empty-in 1.5s linear forwards;

  &__title {
    color: rgb(165, 105, 171);
    text-shadow: 3px 3px 3px rgba(155, 22, 138, 0.5);
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
  }
}

@-webkit-keyframes now-empty-in {
  0% {
    opacity: 0;
    top: 100%;
  }
  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes now-empty-in {
  0% {
    opacity: 0;
    top: 100%;
  }
  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}

@-webkit-keyframes now-elements-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-20%));
  }

  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0));
  }
}

@keyframes now-elements-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(-20%));
  }

  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0));
  }
}

@-webkit-keyframes now-like-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(200%));
  }

  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0));
  }
}

@keyframes now-like-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(200%));
  }

  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(0));
  }
}
@-webkit-keyframes now-image-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(20%));
  }

  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(-50%));
  }
}
@keyframes now-image-in {
  0% {
    opacity: 0;
    @include crossBrowser(transform, translateX(20%));
  }

  100% {
    opacity: 1;
    @include crossBrowser(transform, translateX(-50%));
  }
}
