@import '../../../../style/mixins.scss';

.WeatherFavorListItem {
  position: relative;
  list-style-type: none;
  font-size: 18px;
  margin-bottom: 1em;
  width: 100%;
  padding: 0px 0px 0px 0px;
  text-shadow: 3px 3px 3px rgba(226, 24, 199, 0.5);

  border: 3px solid rgb(62, 37, 64);
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 15px;
  background: rgb(165, 105, 171);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.WeatherFavorListItem-delete {
  position: absolute;
  right: 10px;
  top: 2px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(176, 139, 182, 0.9);
  border: 2px solid rgb(151 127 155 / 90%);
  border-radius: 10px;
  @include crossBrowser(transition, all 0.6s ease);

  &__element {
    background-image: url('../../../../assets/icons/weather/delete-tab.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 17px;
    height: 16px;
    display: block;
    float: right;

    @include crossBrowser(transition, all 0.6s ease);
  }

  &:hover .WeatherFavorListItem-delete__element {
    @include crossBrowser(transform, scale(1.4) rotate(90deg));
  }
  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.9);
    @include crossBrowser(transform, rotate(90deg));
  }
  &:active {
    border: 2px solid rgba(176, 139, 182, 0.9);
  }
}
