@import '../../style/variables.scss';

.CharList-cards-item {
  width: 200px;
  height: 318px;
  background: #232222;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: all 0.5s ease;

  &__img {
    width: 200px;
    height: 200px;
    border-radius: 35%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;

    @media screen and (max-width: $mediaLarge) {
      width: 185px;
      height: 185px;
    }
    @media screen and (max-width: $mediaBig) {
      width: 170px;
      height: 170px;
    }
    @media screen and (max-width: $mediaMediumWell) {
      width: 150px;
      height: 150px;
    }
  }

  &__title {
    margin: 25px 15px 15px 15px;

    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    word-wrap: wrap;
    transition: all 0.5s ease;

    color: #ffffff;

    @media screen and (max-width: $mediaLarge) {
      margin: 25px 12px 12px 12px;
      font-size: 18px;
    }
    @media screen and (max-width: $mediaBig) {
      font-size: 16px;
    }
    @media screen and (max-width: $mediaMediumWell) {
      font-size: 14px;
    }
  }

  &:hover {
    .CharList-cards-item__img {
      transform: scale(1.04);
    }

    transform: scale(1.04);
    filter: drop-shadow(0px 5px 20px #9f0013);
    color: #9f0013;
  }
  &:active {
    filter: drop-shadow(0px 5px 20px #000000);
    transition: all 0.1s ease;
  }

  &:hover &__title {
    color: #ff011f;
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.8);
  }

  @media screen and (max-width: $mediaLarge) {
    width: 185px;
    height: 285px;
  }
  @media screen and (max-width: $mediaBig) {
    width: 170px;
    height: 270px;
  }
  @media screen and (max-width: $mediaMediumWell) {
    width: 150px;
    height: 250px;
  }
}
