@import '../../../../style/variables.scss';
@import '../../../../style/mixins.scss';

.Resume {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(146, 149, 242, 1)),
    to(rgba(42, 0, 0, 1))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(146, 149, 242, 1) 100%,
    rgba(42, 0, 0, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(146, 149, 242, 1) 100%,
    rgba(42, 0, 0, 1) 100%
  );

  padding-top: 90px;
  padding-bottom: 180px;
  overflow: hidden;
  position: relative;
  @include crossBrowser(transition, all 1s ease);

  @media (max-width: $mediaTablets) {
    padding-bottom: 0px;
  }
}

.resume-section {
  margin-bottom: 120px;
}

.resume-border {
  fill: #191919;
  position: absolute;
  bottom: 0%;
}
