@import '../../../../style/variables.scss';
@import '../../../../style/mixins.scss';

.Social-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.Social-list-item {
  margin: 0 30px;
  @include crossBrowser(transition, all 0.5s ease);

  .Social-list-item-link {
    background-color: rgb(124, 49, 173);
    -webkit-box-shadow: 2px 2px 10px rgb(0 0 0 / 90%);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 90%);
    color: #fff;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 100%;

    @include crossBrowser(transition, all 0.2s ease);
  }
  &:hover {
    @include crossBrowser(transform, scale(1.2));
  }

  @media (max-width: $mediaSmallTablets) {
    margin: 0 20px;
  }
  @media (max-width: $mediaPhones) {
    margin: 0 12px;
  }
}
