@import '../../../../style/variables.scss';
@import '../../../../style/mixins.scss';

.Social-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.Social-list-item {
  margin: 0 30px;
  @include crossBrowser(transition, all 0.5s cubic-bezier(0.4, 0, 1, 1));

  .Social-list-item-link {
    color: transparent;

    padding: 10px;

    &__vk {
      background: url('../../../../assets/icons/header/VK_black.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }
    &__instagram {
      background: url('../../../../assets/icons/header/Instagram_black.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }
    &__linkedin {
      background: url('../../../../assets/icons/header/LinkedIn_black.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }
    &__telegram {
      background: url('../../../../assets/icons/header/Telegram_black.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }
    &__github {
      background: url('../../../../assets/icons/header/github_black.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #fff;
      border-radius: 50%;
    }

    @media (max-width: $mediaSmallDesktops) {
      padding: 7px;
    }
  }
  &:hover {
    @include crossBrowser(transform, scale(1.2));
  }

  @media (max-width: $mediaSmallTablets) {
    margin: 0 20px;
  }
  @media (max-width: $mediaPhones) {
    margin: 0 12px;
  }
}
