@import '../../../../style/variables.scss';
@import '../../../../style/mixins.scss';

.Hero {
  height: 100vh;
  min-height: 500px;
  width: 100%;

  background-image: url('../../../../assets/images/main-page/header-background2-adaptive.webp');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 102%;
  -webkit-animation: animatedBackground 50s linear infinite;
  animation: animatedBackground 50s linear infinite;
  text-align: center;
  overflow: hidden;
  position: relative;
  @include crossBrowser(transition, all 1s ease);

  &__nav {
    font: 12px 'Open Sans', sans-serif;

    @include crossBrowser(transition, all 0.5s ease);

    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 20;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  @media (max-width: $mediaLaptops) {
    -webkit-animation: animatedBackground-adaptive-max 50s linear infinite;
    animation: animatedBackground-adaptive-max 50s linear infinite;
  }
}

.Hero-scroll {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -30px;
  color: #fff;
  display: block;
  -webkit-animation: scroll-bottom 3s linear infinite;
  animation: scroll-bottom 3s linear infinite;

  &__link {
    color: transparent;
    padding: 15px;
    background: url('../../../../assets/icons/header/down-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    @include crossBrowser(transition, all 0.5s ease);
    cursor: pointer;

    &:hover {
      background: url('../../../../assets/icons/header/down-arrow-hover.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }
  }
}

@-webkit-keyframes animatedBackground {
  0% {
    background-size: 102%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 102%;
  }
}

@keyframes animatedBackground {
  0% {
    background-size: 102%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 102%;
  }
}
@-webkit-keyframes animatedBackground-adaptive-max {
  0% {
    background-size: auto 102%;
  }
  50% {
    background-size: auto 120%;
  }
  100% {
    background-size: auto 102%;
  }
}
@keyframes animatedBackground-adaptive-max {
  0% {
    background-size: auto 102%;
  }
  50% {
    background-size: auto 120%;
  }
  100% {
    background-size: auto 102%;
  }
}

@-webkit-keyframes scroll-bottom {
  0% {
    bottom: 10%;
    opacity: 1;
  }
  100% {
    bottom: 5%;
    opacity: 0;
  }
}

@keyframes scroll-bottom {
  0% {
    bottom: 10%;
    opacity: 1;
  }
  100% {
    bottom: 5%;
    opacity: 0;
  }
}
