@import '../../../../style/mixins.scss';

.Todo {
  height: 100%;
  padding: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url('https://i.gifer.com/G1JO.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;

  position: relative;
  -webkit-animation: container-in 2s linear forwards;
  animation: container-in 2s linear forwards;
}
.Todo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background: url('../../../../assets/todo-app-bg-adaptive.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border: 1px solid #000;
  border-radius: 25px;
  padding: 20px;
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 15px 15px 20px rgba(255, 255, 255, 0.4);
  box-shadow: 15px 15px 20px rgba(255, 255, 255, 0.4);
  border: 3px solid rgb(255, 255, 255);
}

.Todo-container {
  background: url('../../../../assets/todo-container-bg-adaptive.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 500px;
  height: 350px;
  border: 2px solid rgb(253, 253, 253);
  border-radius: 10px;
  padding: 10px;
}

.Todo-home {
  position: absolute;
  bottom: 5px;
  right: 10px;

  &__btn {
    border-radius: 20px;

    padding: 2px 10px;
    background-color: #000;
    font-size: 20px;
    color: rgb(124, 49, 173);
    cursor: pointer;

    -webkit-animation: pulse-btn 3000ms linear infinite;

    animation: pulse-btn 3000ms linear infinite;

    @include crossBrowser(transition, all 0.5s ease);

    &:hover {
      color: #fff;
    }
  }
}
